<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DeCryptoWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DeCryptoDBEntities" connectionString="metadata=res://*/DecryptoDB.csdl|res://*/DecryptoDB.ssdl|res://*/DecryptoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DeCrypto;persist security info=True;user id=Decrypter;password=dansue070510;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAccountServices">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPlayerServices">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJoinToGame">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/AccountService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAccountServices" contract="DeCryptoServices.IAccountServices"
        name="NetTcpBinding_IAccountServices">
        <identity>
          <userPrincipalName value="LAPTOP_DAN\danse" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/PlayerService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IPlayerServices" contract="DeCryptoServices.IPlayerServices"
        name="NetTcpBinding_IPlayerServices">
        <identity>
          <userPrincipalName value="LAPTOP_DAN\danse" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/JoinToGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJoinToGame"
        contract="DeCryptoServices.IJoinToGame" name="NetTcpBinding_IJoinToGame">
        <identity>
          <userPrincipalName value="LAPTOP_DAN\danse" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <DeCryptoWPF.Properties.Settings>
      <setting name="LanguageCode" serializeAs="String">
        <value>es-MX</value>
      </setting>
    </DeCryptoWPF.Properties.Settings>
  </userSettings>
</configuration>